@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@400&display=swap');

/*Variables*/
:root {

	/* Colors*/
	--primary: #406E8E;
	--onPrimary: #FFFFFF;
	--primaryContainer: #d6e0eb;
	--onPrimaryContainer: #161925;

	--secondary: #23395B;
	--onSecondary: #FFFFFF;
	--secondaryContainer: #406E8E;
	--onSecondaryContainer: #FFFFFF;

	--tertiary: #8EA8C3;
	--onTertiary: #161925;
	--tertiaryContainer: #FFFFFF;
	--onTertiaryContainer: #23395B;

	--background: #FFFFFF;
	--onBackground: #161925;

	--surface: #FFFFFF;
	--onSurface: #161925;

	--outline: #23395B;
	--surfaceVarient: #406E8E;
	--onSurfaceVarient: #FFFFFF;

	/*Fonts*/
	--fontPrimary: 'SUSE', sans-serif;
}

body {
  font-family: var(--fontPrimary);
  background-color: var(--background);
  color: var(--onPrimaryContainer);
}

main h1, main h2, main h3, main h4, main h5, main h6 {
  color: var(--primary);
}

.navbar {
  background-color: var(--primary) !important;
  color: var(--onPrimary) !important;
}

.card {
  background-color: var(--primaryContainer);
  border: none;
}

.card .card-img-top {
  border-radius: 25px;
}

.card-title {
  color: var(--primary);
}

.btn-primary {
  background-color: var(--primary);
  color: var(--onPrimary);
  border-radius: 25px;
}

/*
	Corner radius' for section containers,
	depending whether they are by themselves,
	are at the top, middle, or bottom.
*/
.joinTop {
	border-radius: 25px 25px 6px 6px !important;
	margin-bottom: 3px !important;
}

.joinMiddle {
	border-radius: 6px !important;
	margin-bottom: 3px !important;
}

.joinBottom {
	border-radius: 6px 6px 25px 25px !important;
}

.full {
	border-radius: 25px;
}

.text-white {
  color: var(--onPrimary) !important;
}

footer {
  background-color: var(--primary);
  color: var(--onPrimary);
  text-align: center;
  padding: 8px;
  width: 100%;
}

img {
  border-radius: 25px;
}